.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain
}

.container strong {
  font-size: 2.25rem;
  color: var(--title);
}

.container p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}

.container button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0px;
}

.twitterButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border: 0;
  border-top: 1px solid var(--gray-line);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;

  transition: background-color 0.2s;
}

.twitterButton p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--blue-twitter);
  margin-top: 0.25rem;
  margin-right: 1rem;
}

.twitterIcon {
  font-size: 1.8rem;
  color: var(--blue-twitter);
}

.twitterButton:hover {
  background: var(--blue-twitter);
}

.twitterButton:hover p {
  color: var(--white)
}

.twitterButton:hover .twitterIcon {
  color: var(--white)
}